/* Styling for index */

#wrapper {
  width: 90%;
  margin: auto;
}

#titleBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#bodyWrapper {
  margin: auto;
  width: 90%;
}

#currentTime {
  margin: auto;
  width: 300px;
}

#pastTimes {
  width: 36%;
}

#currentImage {
  padding: 5px;
  background-color: #f5f5f5;
  max-width: 300px;
}

#Image {
  display: block;
  width: 100%;
  height: auto;
}

/* Styling for About */

#bodyWrapper2 {
  margin: auto;
  width: 90%;
}

#bodyWrapper2 p {
  width: 40%;
}
